@{
    ViewData["Title"] = "Sensors";
}

@model SensorListViewModel

<h3 class="display-4">Sensors</h3>
@*<input type="text" />
@Html.ActionLink("Search by Device", "Search", "Sensor", new { id = 12345 }, new { @class = "btn btn-light", @style = "color:black" })*@

<br>


<div class="row marginTop">
    <table class="table">
        <thead>
            <tr>
                <th>Device Serial Number</th>
                <th>Sensor Serial Number</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sensor in Model.Sensors)
            {
            <tr>
                <td>
                    &nbsp;
                    @*placeholder for devise serial number*@
                    <a href="@Url.Action("Search", "Device" , new { id = sensor.Device.serialNumber  })">@sensor.Device.serialNumber.ToString()</a>
                </td>
                <td>
                    @sensor.sensorSerialNumber.ToString()
                </td>
                <td>
                    <a href="@Url.Action("SearchBySensor", "Measurement" , new { id = sensor.sensorSerialNumber.ToString()  })">Measurements</a>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>
